<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title (click)="saveAlarm()">Alarm</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-page">
		<ion-list>	
			<ion-item *ngIf="!setnewalarm">
				<button ion-button (click)="newAlarmSet()" type="button" block>Set  New Alarm</button>
			</ion-item>
			<ion-item *ngIf="!amarmlist">
				<button ion-button (click)="listAlarm()" type="button" block>List Alarms</button>
			</ion-item>
				
		</ion-list>
		<!-- list alarms start -->
		<span *ngIf="showalarmlist">	
			<ion-list  *ngFor="let data of alarmnotification">	
				
					<ion-item *ngIf="thisNotificationIsAlarm(data.data)">
						<ion-label stacked color="primary">{{data.text}}</ion-label>
						
					</ion-item>
					<ion-item *ngIf="thisNotificationIsAlarm(data.data)">
						
						<ion-label class="messagealarm">{{showListAlarmData(data.data)}}{{anyalarmset(true)}}</ion-label>
						
					</ion-item>
					<ion-item *ngIf="thisNotificationIsAlarm(data.data)">
						
						<button ion-button (click)="deleteAlarm(data.id)" type="button" >Delete</button>
					</ion-item>
					
			</ion-list>
			<ion-list  *ngIf="!isanyalarmset">	
					<ion-item>
						<ion-label stacked color="primary">No alarm set.</ion-label>
					</ion-item>
			</ion-list>
		</span>	
		<!-- list alarms ends -->
		<!-- Step 1 start -->
		<ion-list no-lines *ngIf="step1">
		    <ion-item *ngIf="msg!=''">
		    	<h2>{{msg}}</h2>
		    </ion-item>
			<ion-item>

				<ion-label >Select switches for alarm</ion-label>
				<ion-select [(ngModel)]="switchedassignedtoalarm" multiple="true">
			        <ion-option value="switch1*{{switchonetext}}">{{switchonetext}}</ion-option>
			        <ion-option value="switch2*{{switchtwotext}}">{{switchtwotext}}</ion-option>
			        <ion-option value="switch3*{{switchthreetext}}">{{switchthreetext}}</ion-option>
			        <ion-option value="switch4*{{switchfourtext}}">{{switchfourtext}}</ion-option>
			        <ion-option value="switch5*{{switchfivetext}}">{{switchfivetext}}</ion-option>
			        <ion-option value="switch6*{{switchsixtext}}">{{switchsixtext}}</ion-option>
			        <ion-option value="switch7*{{switchseventext}}">{{switchseventext}}</ion-option>
			        <ion-option value="switch8*{{switcheighttext}}">{{switcheighttext}}</ion-option>
			    </ion-select>
    
			</ion-item>
			<ion-item>
				<button ion-button (click)="backfromstep1()" type="button" >Back</button>
				<button ion-button (click)="saveSwitchForAlarm()" type="button" >Set Switches For Alarm</button>
			</ion-item>
				
		</ion-list>
		<!-- Step 1 end -->
		
		<!-- Step 2 start -->
		<span *ngIf="showswitchbehaviour && step2">
			<span *ngFor="let singleswitch of currentswitchesforalarm">
				<ion-list  radio-group *ngIf="singleswitch.s == 'switch1'" [(ngModel)]="switch1model">
				  <ion-list-header>
				    {{singleswitch.m}}
				  </ion-list-header>

				  <ion-item>
				    <ion-label>ON</ion-label>
				    <ion-radio value="{{singleswitch.s}}*ON"></ion-radio>
				  </ion-item>

				  <ion-item>
				    <ion-label>OFF</ion-label>
				    <ion-radio value="{{singleswitch.s}}*OFF"></ion-radio>
				  </ion-item>
				</ion-list>
				<ion-list  radio-group *ngIf="singleswitch.s == 'switch2'" [(ngModel)]="switch2model">
				  <ion-list-header>
				    {{singleswitch.m}}
				  </ion-list-header>

				  <ion-item>
				    <ion-label>ON</ion-label>
				    <ion-radio value="{{singleswitch.s}}*ON"></ion-radio>
				  </ion-item>

				  <ion-item>
				    <ion-label>OFF</ion-label>
				    <ion-radio value="{{singleswitch.s}}*OFF"></ion-radio>
				  </ion-item>
				</ion-list>
				<ion-list  radio-group *ngIf="singleswitch.s == 'switch3'" [(ngModel)]="switch3model">
				  <ion-list-header>
				    {{singleswitch.m}}
				  </ion-list-header>

				  <ion-item>
				    <ion-label>ON</ion-label>
				    <ion-radio value="{{singleswitch.s}}*ON"></ion-radio>
				  </ion-item>

				  <ion-item>
				    <ion-label>OFF</ion-label>
				    <ion-radio value="{{singleswitch.s}}*OFF"></ion-radio>
				  </ion-item>
				</ion-list>
				<ion-list  radio-group *ngIf="singleswitch.s == 'switch4'" [(ngModel)]="switch4model">
				  <ion-list-header>
				    {{singleswitch.m}}
				  </ion-list-header>

				  <ion-item>
				    <ion-label>ON</ion-label>
				    <ion-radio value="{{singleswitch.s}}*ON"></ion-radio>
				  </ion-item>

				  <ion-item>
				    <ion-label>OFF</ion-label>
				    <ion-radio value="{{singleswitch.s}}*OFF"></ion-radio>
				  </ion-item>
				</ion-list>
				<ion-list  radio-group *ngIf="singleswitch.s == 'switch5'" [(ngModel)]="switch5model">
				  <ion-list-header>
				    {{singleswitch.m}}
				  </ion-list-header>

				  <ion-item>
				    <ion-label>ON</ion-label>
				    <ion-radio value="{{singleswitch.s}}*ON"></ion-radio>
				  </ion-item>

				  <ion-item>
				    <ion-label>OFF</ion-label>
				    <ion-radio value="{{singleswitch.s}}*OFF"></ion-radio>
				  </ion-item>
				</ion-list>
				<ion-list  radio-group *ngIf="singleswitch.s == 'switch6'" [(ngModel)]="switch6model">
				  <ion-list-header>
				    {{singleswitch.m}}
				  </ion-list-header>

				  <ion-item>
				    <ion-label>ON</ion-label>
				    <ion-radio value="{{singleswitch.s}}*ON"></ion-radio>
				  </ion-item>

				  <ion-item>
				    <ion-label>OFF</ion-label>
				    <ion-radio value="{{singleswitch.s}}*OFF"></ion-radio>
				  </ion-item>
				</ion-list>
				<ion-list  radio-group *ngIf="singleswitch.s == 'switch7'" [(ngModel)]="switch7model">
				  <ion-list-header>
				    {{singleswitch.m}}
				  </ion-list-header>

				  <ion-item>
				    <ion-label>ON</ion-label>
				    <ion-radio value="{{singleswitch.s}}*ON"></ion-radio>
				  </ion-item>

				  <ion-item>
				    <ion-label>OFF</ion-label>
				    <ion-radio value="{{singleswitch.s}}*OFF"></ion-radio>
				  </ion-item>
				</ion-list>
				<ion-list  radio-group *ngIf="singleswitch.s == 'switch8'" [(ngModel)]="switch8model">
				  <ion-list-header>
				    {{singleswitch.m}}
				  </ion-list-header>

				  <ion-item>
				    <ion-label>ON</ion-label>
				    <ion-radio value="{{singleswitch.s}}*ON"></ion-radio>
				  </ion-item>

				  <ion-item>
				    <ion-label>OFF</ion-label>
				    <ion-radio value="{{singleswitch.s}}*OFF"></ion-radio>
				  </ion-item>
				</ion-list>
			</span>	
		</span>	

		<ion-list *ngIf="step2">
			<ion-item>
				<button ion-button (click)="backfromstep2()" type="button" >Back</button>
				<button ion-button (click)="setSwitchBehaviour()" type="button" block>Set Switch Behaviour</button>
			</ion-item>
		</ion-list>	
		<!-- Step 2 end -->

		<!-- Step 3 start -->
		<ion-list *ngIf="step3">
			<ion-item>
				<ion-label color="primary">Set Alarm time</ion-label>
				<ion-datetime displayFormat="YYYY-MM-DD HH:mm"  [(ngModel)]="alarmtime">
        		</ion-datetime>
			</ion-item>
			<ion-item>
			    <button ion-button (click)="backfromstep3()" type="button" >Back</button>
				<button ion-button (click)="setAlarmTime()" type="button" block>Set Alarm Time</button>
			</ion-item>
		</ion-list>
		<!-- Step 3 end -->

		<!-- Step 4 start -->
		<ion-list *ngIf="step4">	
			<ion-item>
				<ion-label color="primary">Set Alarm Tune (Last tune selected is: {{lasttunefilename}})</ion-label>
			</ion-item>
			<ion-item>
				<button ion-button (click)="backfromstep4()" type="button" >Back</button>
				<button ion-button (click)="pickFile()" type="button" block>Pick File</button>
				<button ion-button (click)="keepLastFile()" type="button" block>Use last tune selected</button>
			</ion-item>
		</ion-list>
		<!-- Step 4 end -->

		<!-- Step 5 start  -->
		<ion-list *ngIf="step5">

			<ion-item *ngFor="let singleswitch of currentswitchesforalarm">
				<ion-label stacked color="primary">{{singleswitch.m}} will be {{sortSwitchData(singleswitch.s)}}</ion-label>
					
			</ion-item>
			<ion-item >
				<ion-label stacked color="primary">AT</ion-label>
				<ion-label stacked color="primary">{{showalarmtime(alarmtime)}}</ion-label>
			</ion-item>

			<ion-item >
				<ion-label stacked color="primary">Tune of alarm is: {{lasttunefilename}}</ion-label>
			</ion-item>
			
			
			<ion-item>
				<button ion-button (click)="backfromstep5()" type="button" >Back</button>
				<button ion-button (click)="saveAlarm()" type="button" block>Save Alarm</button>
			</ion-item>
				
		</ion-list>
		<!-- Step 5 end -->
	

</ion-content>
