<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Welcome to Smart Automation</ion-title>

    <!-- <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment> -->

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

  <!-- <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  

  <ion-list class="swtcls">
  
     
     <ion-item>
        <ion-row responsive-sm>
          <h1>{{switchonetext}}</h1>

        </ion-row>  

        <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSwitch('1')" type="button" block>ON</button>
            </ion-col>
            <ion-col>
              <button ion-button (click)="offSwitch('1')" color="light" block>OFF</button>
            </ion-col>
        </ion-row>
     </ion-item>

     <ion-item *ngIf="switchonetimernotset">
        <ion-label>Timer</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm"  min="{{mintimer}}" max="2020-10-31" [(ngModel)]="switchonetimer">
        </ion-datetime>
     </ion-item> 
     <ion-item *ngIf="switchonetimernotset">
      <ion-label>Action</ion-label>
      <ion-select [(ngModel)]="switchoneaction">
        <ion-option value="ON">ON</ion-option>
        <ion-option value="OFF">OFF</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="switchonetimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSetTimer('switch1')"  block>SET TIMER</button>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="!switchonetimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onUnsetTimer('switch1')"  block>UNSET TIMER</button>
            </ion-col>
            <ion-col>
              <h3>{{switchonemsg}}</h3>
            </ion-col>
        </ion-row>
    </ion-item>
    

  </ion-list>

  <ion-list class="swtcls">
     <ion-item>
        <ion-row responsive-sm>
          <h1>{{switchtwotext}}</h1>

        </ion-row>  

        <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSwitch('2')" type="button" block>ON</button>
            </ion-col>
            <ion-col>
              <button ion-button (click)="offSwitch('2')" color="light" block>OFF</button>
            </ion-col>
        </ion-row>
     </ion-item>

     <ion-item *ngIf="switchtwotimernotset">
        <ion-label>Timer</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" min="{{mintimer}}" max="2020-10-31" [(ngModel)]="switchtwotimer">
        </ion-datetime>
     </ion-item> 
     <ion-item *ngIf="switchtwotimernotset">
      <ion-label>Action</ion-label>
      <ion-select [(ngModel)]="switchtwoaction">
        <ion-option value="ON">ON</ion-option>
        <ion-option value="OFF">OFF</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="switchtwotimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSetTimer('switch2')"  block>SET TIMER</button>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="!switchtwotimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onUnsetTimer('switch2')"  block>UNSET TIMER</button>
            </ion-col>
            <ion-col>
              <h3>{{switchtwomsg}}</h3>
            </ion-col>
        </ion-row>
    </ion-item>
    

  </ion-list>


  <ion-list class="swtcls">
     <ion-item>
        <ion-row responsive-sm>
          <h1>{{switchthreetext}}</h1>

        </ion-row>  

        <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSwitch('3')" type="button" block>ON</button>
            </ion-col>
            <ion-col>
              <button ion-button (click)="offSwitch('3')" color="light" block>OFF</button>
            </ion-col>
        </ion-row>
     </ion-item>

     <ion-item *ngIf="switchthreetimernotset">
        <ion-label>Timer</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" min="{{mintimer}}" max="2020-10-31" [(ngModel)]="switchthreetimer">
        </ion-datetime>
     </ion-item> 
     <ion-item *ngIf="switchthreetimernotset">
      <ion-label>Action</ion-label>
      <ion-select [(ngModel)]="switchthreeaction">
        <ion-option value="ON">ON</ion-option>
        <ion-option value="OFF">OFF</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="switchthreetimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSetTimer('switch3')"  block>SET TIMER</button>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="!switchthreetimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onUnsetTimer('switch3')"  block>UNSET TIMER</button>
            </ion-col>
            <ion-col>
              <h3>{{switchthreemsg}}</h3>
            </ion-col>
        </ion-row>
    </ion-item>
    

  </ion-list>


  <ion-list class="swtcls">
     <ion-item>
        <ion-row responsive-sm>
          <h1>{{switchfourtext}}</h1>

        </ion-row>  

        <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSwitch('4')" type="button" block>ON</button>
            </ion-col>
            <ion-col>
              <button ion-button (click)="offSwitch('4')" color="light" block>OFF</button>
            </ion-col>
        </ion-row>
     </ion-item>

     <ion-item *ngIf="switchfourtimernotset">
        <ion-label>Timer</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" min="{{mintimer}}" max="2020-10-31" [(ngModel)]="switchfourtimer">
        </ion-datetime>
     </ion-item> 
     <ion-item *ngIf="switchfourtimernotset">
      <ion-label>Action</ion-label>
      <ion-select [(ngModel)]="switchfouraction">
        <ion-option value="ON">ON</ion-option>
        <ion-option value="OFF">OFF</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="switchfourtimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSetTimer('switch4')"  block>SET TIMER</button>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="!switchfourtimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onUnsetTimer('switch4')"  block>UNSET TIMER</button>
            </ion-col>
            <ion-col>
              <h3>{{switchfourmsg}}</h3>
            </ion-col>
        </ion-row>
    </ion-item>
    

  </ion-list>


  <ion-list class="swtcls">
     <ion-item>
        <ion-row responsive-sm>
          <h1>{{switchfivetext}}</h1>

        </ion-row>  

        <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSwitch('5')" type="button" block>ON</button>
            </ion-col>
            <ion-col>
              <button ion-button (click)="offSwitch('5')" color="light" block>OFF</button>
            </ion-col>
        </ion-row>
     </ion-item>

     <ion-item *ngIf="switchfivetimernotset">
        <ion-label>Timer</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" min="{{mintimer}}" max="2020-10-31" [(ngModel)]="switchfivetimer">
        </ion-datetime>
     </ion-item> 
     <ion-item *ngIf="switchfivetimernotset">
      <ion-label>Action</ion-label>
      <ion-select [(ngModel)]="switchfiveaction">
        <ion-option value="ON">ON</ion-option>
        <ion-option value="OFF">OFF</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="switchfivetimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSetTimer('switch5')"  block>SET TIMER</button>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="!switchfivetimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onUnsetTimer('switch5')"  block>UNSET TIMER</button>
            </ion-col>
            <ion-col>
              <h3>{{switchfivemsg}}</h3>
            </ion-col>
        </ion-row>
    </ion-item>
    

  </ion-list>


  

  <ion-list class="swtcls">
     <ion-item>
        <ion-row responsive-sm>
          <h1>{{switchsixtext}}</h1>

        </ion-row>  

        <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSwitch('6')" type="button" block>ON</button>
            </ion-col>
            <ion-col>
              <button ion-button (click)="offSwitch('6')" color="light" block>OFF</button>
            </ion-col>
        </ion-row>
     </ion-item>

     <ion-item *ngIf="switchsixtimernotset">
        <ion-label>Timer</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" min="{{mintimer}}" max="2020-10-31" [(ngModel)]="switchsixtimer">
        </ion-datetime>
     </ion-item> 
     <ion-item *ngIf="switchsixtimernotset">
      <ion-label>Action</ion-label>
      <ion-select [(ngModel)]="switchsixaction">
        <ion-option value="ON">ON</ion-option>
        <ion-option value="OFF">OFF</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="switchsixtimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSetTimer('switch6')"  block>SET TIMER</button>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="!switchsixtimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onUnsetTimer('switch6')"  block>UNSET TIMER</button>
            </ion-col>
            <ion-col>
              <h3>{{switchsixmsg}}</h3>
            </ion-col>
        </ion-row>
    </ion-item>

  </ion-list>



  <ion-list class="swtcls">
     <ion-item>
        <ion-row responsive-sm>
          <h1>{{switchseventext}}</h1>

        </ion-row>  

        <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSwitch('7')" type="button" block>ON</button>
            </ion-col>
            <ion-col>
              <button ion-button (click)="offSwitch('7')" color="light" block>OFF</button>
            </ion-col>
        </ion-row>
     </ion-item>

     <ion-item *ngIf="switchseventimernotset">
        <ion-label>Timer</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" min="{{mintimer}}" max="2020-10-31" [(ngModel)]="switchseventimer">
        </ion-datetime>
     </ion-item> 
     <ion-item *ngIf="switchseventimernotset">
      <ion-label>Action</ion-label>
      <ion-select [(ngModel)]="switchsevenaction">
        <ion-option value="ON">ON</ion-option>
        <ion-option value="OFF">OFF</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="switchseventimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSetTimer('switch7')"  block>SET TIMER</button>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="!switchseventimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onUnsetTimer('switch7')"  block>UNSET TIMER</button>
            </ion-col>
            <ion-col>
              <h3>{{switchsevenmsg}}</h3>
            </ion-col>
        </ion-row>
    </ion-item>

  </ion-list>


  <ion-list class="swtcls">
     <ion-item>
        <ion-row responsive-sm>
          <h1>{{switcheighttext}}</h1>

        </ion-row>  

        <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSwitch('8')" type="button" block>ON</button>
            </ion-col>
            <ion-col>
              <button ion-button (click)="offSwitch('8')" color="light" block>OFF</button>
            </ion-col>
        </ion-row>
     </ion-item>

     <ion-item *ngIf="switcheighttimernotset">
        <ion-label>Timer</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" min="{{mintimer}}" max="2020-10-31" [(ngModel)]="switcheighttimer">
        </ion-datetime>
     </ion-item> 
     <ion-item *ngIf="switcheighttimernotset">
      <ion-label>Action</ion-label>
      <ion-select [(ngModel)]="switcheightaction">
        <ion-option value="ON">ON</ion-option>
        <ion-option value="OFF">OFF</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="switcheighttimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onSetTimer('switch8')"  block>SET TIMER</button>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngIf="!switcheighttimernotset">
      <ion-row responsive-sm>
            <ion-col>
              <button ion-button (click)="onUnsetTimer('switch8')"  block>UNSET TIMER</button>
            </ion-col>
            <ion-col>
              <h3>{{switcheightmsg}}</h3>
            </ion-col>
        </ion-row>
    </ion-item>

  </ion-list>

</ion-content>